<html>
<head>
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
index.html
<div>{{message}}</div>
<button v-on:click="request"></button>
<script>
    var vue = new Vue({
        el:"body",
        data:{
            message: ''
        },
        methods:{
            request:{
                $.ajax({
                type : "GET",
                url : "/protected",
                data : {
                    token : localStorage.getItem("token")
                },
                success : function(data) {

                },
                error : function(){
                    alert("错误");
                }

            });
            }
        }

    });

</script>

</body>
</html>
